The list function is fequentily used in data processing as a way to materialize an iteration or generation express

In [2]:
gen = range(10)

In [4]:
gen

range

In [5]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b_list =['foo','bar']

In [9]:
b_list.append('tar')
b_list

['foo', 'bar', 'tar', 'tar', 'tar']

In [12]:
b_list.insert(1,'cat')

In [13]:
b_list

['foo', 'cat', 'bar', 'tar', 'tar', 'tar']

The inverse operation to insert is pop

In [14]:
b_list.pop()

'tar'

In [15]:
b_list.pop(1)

'cat'

In [16]:
b_list

['foo', 'bar', 'tar', 'tar']

Element can be remove by vaule with "remove",which locates the first such value and removes it from the last

In [17]:
b_list.append('foo')
b_list

['foo', 'bar', 'tar', 'tar', 'foo']

In [18]:
b_list.remove('foo')

In [19]:
b_list

['bar', 'tar', 'tar', 'foo']

In [21]:
a= [4,None,'s']
b = [5,(1,2)]
a+b

[5, (1, 2)]

In [22]:
a

[4, None, 's']

In [ ]:
b

Using extend to append elements to an existing list

In [24]:
a.extend(b)

In [25]:
a

[4, None, 's', 5, (1, 2)]

bisect module :
        bisect.bisect finds the location where the element should be inserted to keep the list sored ,
        bisect.insert actually inserts the element into that location.

In [29]:
from bisect import bisect, insort

In [34]:
a = [1,2,3,4,4,7]

In [35]:
bisect(a,6)

5

In [36]:
insort(a,6)

In [37]:
a

[1, 2, 3, 4, 4, 6, 7]

slicing

In [39]:
s = "hello!"

In [41]:
s[1:3]

'el'

In [43]:
s[-5:-3]

'el'

A step can also be used after two colon to ,say, take every other element

In [44]:
s[::2]

'hlo'

In [45]:
#revise a list
s[::-1]

'!olleh'

Dict

In [46]:
d1= {'a':1,'b':[1,2,4]}

In [47]:
d1

{'a': 1, 'b': [1, 2, 4]}

In [48]:
d1.update({'a':2,'c':None})

In [49]:
d1

{'a': 2, 'b': [1, 2, 4], 'c': None}

In [51]:
by_letter={}
words = ['apple', 'bat', 'bar', 'atom', 'book']
for word in words:
    first_letter = word[0]
    by_letter.setdefault(first_letter,[]).append(word)

In [52]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
a={1,2,3,4}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [55]:
a&b

{3, 4}

In [56]:
a.intersection(b)

{3, 4}

In [57]:
a-b

{1, 2}

In [58]:
a.difference(b)

{1, 2}

In [60]:
a.difference_update(b)

In [61]:
a

{1, 2}

In [62]:
a={1,2,3,4}

In [64]:
a.symmetric_difference(b) # All of the elements  either in a or b but not both

{1, 2, 5}

In [65]:
a^b

{1, 2, 5}

In [66]:
a.isdisjoint({4})

False

In [67]:
a.issubset({4})

False

In [68]:
a.issuperset({4})

True

List Commprehensions

In [70]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
[x for tup in some_tuples for x in tup ]

A list comprehension inside a list comprehension

In [74]:
[[x for x in tup ] for tup in some_tuples ]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [85]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
'south \
         carolina', 'West virginia?']

In [81]:
states

['Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south          carolina',
 'West virginia?']

In [88]:
import re
def remove_punctuation(value):
    return re.sub('[^\w ]', '', value)

In [89]:
functions = [str.strip,remove_punctuation,str.title]

result =[]
for state in states:

    for f in functions:
        state = f(state)
    result.append(state)

result

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South          Carolina',
 'West Virginia']

Currying

In [91]:
def add_numbers(x, y):
    return x+y

In [92]:
from functools import partial

In [95]:
add_five = partial(add_numbers,5)

In [96]:
add_five(4)

9

In [98]:
add1 = partial(add_numbers,5,5)

In [99]:
add1()

10